/* ================================================================================================================== */
/* Общие цвета сайта */
/* ================================================================================================================== */

/* Брендовый цвет сайта */
$brand-color: #4492fd;

/* Брендовый светлый */
$brand-light-color: #eaf3ff;

/* Брендовый темный */
$brand-dark-color: #3d81e1;

/* Границы */
$border-colors: (
        default: #ebebeb,
        strong: #dbdbdb,
        widget-sep: #E2E5E9,
        widget-sep-strong: #D5D9DF
);

/* Темный черный */
$dark-black-color: #333;

/* Нейтральный черный */
$neutral-black: #646464;

/* Вспомогательный */
$additional-color: #939393;