@import 'const';

/* Нет постов */
.no-content {
    font-size: 95%;
    color: $additional-color;
    text-align: center;
}

/* Постраничная навигация */
.navigation.pagination {
    margin-bottom: 2em;
    
    .nav-links {
        display: flex;
        align-items: center;
        justify-content: center;
        
        .page-numbers {
            display: flex;
            align-items: center;
            justify-content: center;
            
            height: 40px;
            min-width: 40px;
            
            margin: 0 0.25em;
            
            border: 1px solid map_get($border-colors, strong);
            border-radius: 3px;
            
            color: #646464;
            text-decoration: none;
            
            transition: background 0.15s, color 0.15s, border-color 0.15s;
            
            &:not(.current):not(.dots):hover {
                background: #fafafa;
                border-color: #aaaaaa;
                color: #333;
            }
            
            &.dots {
                border-color: transparent;
            }
            
            &.current {
                cursor: default;
                border-color: $brand-color;
                color: $brand-color;
                background: #F9FCFF;
            }
        }
    }
}

/* Новость, статья, глава */
.post-item {
    margin-bottom: 2.7em;
    
    /* Дата и время публикации */
    .publish-date {
        font-size: 72%;
        font-family: Verdana, sans-serif;
        color: $additional-color;
        
        margin-bottom: 4px;
    }
    
    /* Заголовок поста */
    .title {
        margin: 0 0;
        
        font-size: 100%;
        color: #333;
        
        .text {
            font-size: 180%;
            line-height: 1;
            color: #333;
        }
        
        a.text {
            font-size: 180%;
            
            text-decoration: none;
            
            transition: color 0.15s;
            
            &:hover {
                color: $brand-dark-color !important;
            }
            
            &:visited {
                color: #245987;
            }
        }
        
        .type-icon {
            font-size: 150%;
            color: #333;
            margin-right: 0.3em;
        }
    }
    
    /* Категории поста */
    .categories {
        color: $additional-color;
        
        .category {
            text-decoration: none;
            color: inherit;
            font-family: Verdana, "Open Sans", sans-serif;
            font-size: 78%;
            
            &:hover {
                text-decoration: underline;
            }
        }
    }
    
    /* Метки новости/статьи/главы */
    .tags {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        
        font-family: Verdana, "Open Sans", sans-serif;
        color: #939393;
        
        margin-bottom: 1em;
        
        i {
            font-size: 95%;
            color: #9b9b9b;
            margin-right: 0.5em;
        }
        
        .tag {
            color: #939393;
            font-size: 85%;
            text-decoration: none;
            
            &:not(:first-of-type) {
                padding-left: 0.25em;
            }
            
            &:hover {
                text-decoration: underline;
            }
        }
    }
    
    /* Предыдущая/следующая глава */
    .previous-next-chapters {
        display: flex;
        align-items: center;
        
        font-size: 120%;
        
        margin-bottom: 1.75em;
        
        .previous, .next {
            display: flex;
            align-items: center;
            
            text-decoration: none;
            color: $dark-black-color;
            
            transition: color 0.25s, border-color 0.25s;
            
            &:hover {
                color: $brand-color;
            }
            
            i {
                font-size: 150%;
            }
            
            span {
                @include layout(mobile) {
                    display: none;
                }
            }
    
            @include layout(mobile) {
                border: 1px solid map_get($border-colors, strong);
        
                padding: 0.6em 0.6em;
                
                &:hover {
                    border-color: $brand-color;
                }
            }
        }
        
        .previous span {
            padding-left: 1em;
        }
        
        .next span {
            padding-right: 1em;
        }
        
        .space {
            flex: 1;
        }
    }

    /* Кнопка "Поддержать портал!" */
    .donation-button-footer {
        height: 45px;

        display: flex;
        align-items: center;
        justify-content: center;

        padding: 0.4em 0.6em;

        border-radius: 3px;

        box-sizing: border-box;

        text-decoration: none;

        transition: color 0.25s, background 0.25s, border 0.25s;

        color: #fff;
        border: 1px solid $brand-color;
        background: $brand-color;

        i {
            padding-right: 0.75em;
        }

        margin-bottom: $structure-margin;

        &:hover {
            cursor: pointer;
            border-color: $brand-dark-color;
            background: $brand-dark-color;
        }
    }

    /* Социальные иконки */
    .addthis_inline_share_toolbox {
        left: 5px;

        display: flex;
        flex-wrap: wrap;

        clear: none !important;

        margin-bottom: 1em;

        .sep {
            order: 2;
            flex: 1;
        }

        .donation-button-footer {
            order: 3;
        }
    }

    /* Блок автора */
    .author {
        display: flex;
        align-items: center;
    
        margin-bottom: 1.75em;
        
        padding: 1.5em 0;
        
        border-top: 1px solid map_get($border-colors, default);
        border-bottom: 1px solid map_get($border-colors, default);
        
        .avatar {
            border: 1px solid map_get($border-colors, default);
        }
        
        .author-info {
            display: flex;
            flex-direction: column;
            
            padding-left: 1.5em;
            
            a {
                color: $dark-black-color;
                text-decoration: none;
                
                &:hover {
                    text-decoration: underline;
                }
            }
            
            .name {
                margin-top: 0;
                margin-bottom: 0.25em;
                
                font-weight: 600;
            }
            
            .bio {
                text-align: justify;
                color: $neutral-black;
            }
        }
    
        @include layout(mobile) {
            flex-direction: column;
        
            .avatar {
                width: 100px;
                height: 100px;
            }
        
            .author-info {
                padding-left: 0;
            }
        }
    }
    
    /* Нижний блок рекламы */
    .footer-ad {
        overflow: hidden;
    }
    
    /* Низ поста (в случае списка) */
    .post-footer {
        padding-top: 0.4em;
        
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
        .more-link {
            display: flex;
            align-items: center;
            justify-content: center;
            
            color: #646464;
            background: #fafafa;
            
            width: 150px;
            
            border: 1px solid #cdcdcd;
            border-radius: 3px;
            padding: 0.6em 1em;
            
            text-decoration: none;
            
            transition: color 0.25s, border-color 0.25s, background 0.25s;
            
            i {
                padding-left: 0.3em;
                font-size: 130%;
                
                transition: transform 0.25s;
                
                @include layout(mobile) {
                    display: none;
                }
            }
            
            &:hover {
                color: #333;
                background: #f5f5f5;
                border-color: #949494;
                
                i {
                    transform: translateX(5px);
                }
            }
            
            @include layout(mobile) {
                padding: 0;
            }
        }
        
        .post-info {
            display: flex;
            align-items: center;
            
            height: 56px;
            box-sizing: border-box;
            
            padding: 0 1em;
            
            border: 1px solid map_get($border-colors, default);
            border-radius: 3px;
            
            .author-info {
                display: flex;
                align-items: center;
                
                text-decoration: none;
                
                padding-right: 1em;
                border-right: 1px solid map_get($border-colors, default);
                
                color: $neutral-black;
                
                .avatar {
                    box-shadow: 0 0 1px 1px #fff, 0 0 0 1px;
                }
                
                .display-name {
                    margin-left: 0.7em;
                    
                    @include layout(mobile) {
                        display: none;
                    }
                }
            }
            
            .comments {
                display: flex;
                align-items: center;
                
                padding-left: 1em;
                text-decoration: none;
                color: #646464;
                
                transition: color 0.25s;
                
                i {
                    font-size: 110%;
                    padding-right: 0.5em;
                }
                
                &:hover {
                    color: #333;
                }
            }
        }
    }
}

/* Контент поста */
.content {
    color: #333;
    line-height: 1.5;
    font-size: 103%;
    text-align: justify;
    
    word-wrap: break-word;
    
    margin: 1em 0;
    
    /* Адаптивные изображения */
    img {
        display: block;
        max-width: 100%;
        height: auto;
        
        &:not(.no-border) {
            border: 1px solid map_get($border-colors, strong);
        }
        
        &.aligncenter {
            margin: 0 auto;
        }
        
        &.alignleft {
            float: left;
            
            margin: 0.25em;
            margin-left: 0;
            margin-right: 1em;
            
            
        }
        
        &.alignright {
            float: right;
    
            margin: 0.25em;
            margin-right: 0;
            margin-left: 1em;
        }
        
        @include layout(mobile) {
            &.alignright {
                float: none;
                margin: 0 auto;
            }
            
            &.alignleft {
                float: none;
                margin: 0 auto;
            }
        }
    }
    
    .aligncenter {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    /* Ссылки */
    a {
        color: $brand-dark-color;//#3774CA;
        text-decoration: none;
        
        transition: color 0.15s;
        
        &:hover {
            text-decoration: underline;
        }
        
        &:visited {
            color: #909;
        }
    }
    
    /* Жирный текст */
    strong {
        word-wrap: break-word;
        font-weight: 600;
    }
    
    /* Таблицы */
    table, .su-table table {
        @include layout(tablet) {
            td {
                padding: 0.25em 0.5em !important;
            }
            
            font-size: 83% !important;
        }
    }
    
    /* Важные моменты */
    .su-note.important {
        border-left: 2px solid $brand-color !important;
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
        
        .su-note-inner {
            border: 0 !important;
            
            strong {
                color: $brand-color;
            }
        }
    }
    
    /* Спойлеры */
    .su-spoiler {
        margin-bottom: 1em !important;
        
        &.su-spoiler-closed {
            .su-spoiler-content {
                padding: 0 !important;
            }
        }
        
        .su-spoiler-title {
            padding-right: 1em;
        }
        
        /* Задание */
        &.task {
            .su-spoiler-title {
                font-size: 100%;
                font-weight: normal;
        
                border: 1px solid map_get($border-colors, strong);
        
                background: #F0F0F0;
        
                .su-spoiler-icon {
                    padding: 0 0.25em;
                    font-size: 125%;
                }
            }
    
            .su-spoiler-content {
                border: 1px solid map_get($border-colors, strong);
                border-top: 0;
        
                padding: 1em;
            }
        }
    
        /* Математическая справка */
        &.math-help {
            .su-spoiler-title {
                font-size: 100%;
                font-weight: 600;
        
                border: 1px solid map_get($border-colors, strong);
        
                background: #E7F3FF;
        
                .su-spoiler-icon {
                    padding: 0 0.25em;
                    font-size: 125%;
                }
            }
    
            .su-spoiler-content {
                border: 1px solid map_get($border-colors, strong);
                border-top: 0;
        
                padding: 1em;
            }
        }
        
        /* Программный код */
        &.code {
            .su-spoiler-title {
                font-size: 100%;
                font-weight: normal;
        
                border: 1px solid map_get($border-colors, strong);
        
                background: #F0F0F0;
        
                .su-spoiler-icon {
                    padding: 0 0.25em;
                    font-size: 100%;
                }
            }
    
            .su-spoiler-content {
                padding: 0;
    
                ol.droideEnlighterJS, ul.droideEnlighterJS {
                    margin-top: 0;
                    border-top: 0;
                }
            }
        }
    }
    
    /* Горизонтальная черта */
    hr {
        width: 100%;
        height: 1px;
        background-color: map_get($border-colors, strong);
        
        padding: 0;
        border: 0;
        margin: 0.5em 0;
    }
    
    /* Заголовки */
    h2 {
        margin-top: 1.25em;
        
        padding-bottom: 0.35em;
        border-bottom: 1px solid #EEEEEE;
    }
    h3 {
        color: #444;
    }
    h2, h3 {
        
        /* Ссылка на заголовок */
        .header-anchor-link {
            opacity: 0;
            
            position: relative;
            top: 1px;
            
            color: #939393;
            font-size: 75%;
            text-decoration: none;
            
            margin-left: 0.75em;
            
            transition: color 0.15s, opacity 0.15s;
            
            &:hover {
                color: $brand-color;
            }
        }
        &:hover {
            .header-anchor-link {
                opacity: 1;
            }
        }
        
        &:target {
            color: $brand-color;
            border-bottom-color: $brand-color;
        }
    }
    
    /* Подпись к картинкам */
    .wp-caption-text {
        margin-top: 0.25em;
        font-size: 90%;
        color: #828282;
    }
    
    /* Программный код */
    ol.droideEnlighterJS li.specialline, ul.droideEnlighterJS li.specialline {
        background: #E9F1FD;
        border-left: 2px solid #8ABAFD;
    }
    ol.EnlighterJS, ul.EnlighterJS {
        margin-bottom: 1em;
        margin-top: 1em;
    }
    
    /* Убирание отступов у первого и последнего элементов контента */
    & > :first-child {
        margin-top: 0;
    }
    & > :last-child {
        margin-bottom: 0;
    }
}