/* ================================================================================================================== */
/* Константы для шапки сайта */
/* ================================================================================================================== */

/* ------------------------------------------------------------------------------------------------------------------ */
/* Разметка */
/* ------------------------------------------------------------------------------------------------------------------ */

$header-z-index: 10;

$top-bar-height: 2px;

$header-height: (
        full: 60px,
        mobile: 50px
);

@function header-height($header-height-key) {
    @return map_get($header-height,$header-height-key) + $top-bar-height + 1; // + 1 за счет нижней границы шапки
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Цвета */
/* ------------------------------------------------------------------------------------------------------------------ */

$header-background-color: #F8F9FA;

$header-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.13);

$header-submenu-background-color: #F9FCFF;

$header-submenu-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.1);
