@import 'const';

#wc-comment-header {
    color: $dark-black-color;
    padding-top: 0;
}

#wc-comment-header {
    padding-left: 0;
}

#wpcomm {
    border-top: 0;
    
    #wpdiscuz-edit-form {
        background: #F9F9F9 !important;
        border: 1px solid #F1F1F1 !important;
        
        margin: 1em 0 !important;
        
        padding: 10px !important;
        
        textarea {
            padding: 10px;
            color: #777;
            line-height: 20px;
            font-size: 14px;
            
            resize: none;
            border: #D9D9D9 1px solid;
            
            width: 100%;
            
            &:focus {
                border: #D9D9D9 1px solid !important;
            }
        }
    }
    
    .wpdiscuz-edit-form-wrap {
        margin: 0;
    }
    
    .wc_comm_submit, .wc_save_edited_comment {
        color: $neutral-black;
        border: 1px solid map_get($border-colors, strong);
        background: #fff;
    
        height: 40px;
        
        padding: 0.4em 0.6em;
    
        border-radius: 3px;
    
        box-sizing: border-box;
    
        text-decoration: none;
    
        transition: color 0.25s, background 0.25s, border 0.25s;
        
        &:hover {
            cursor: pointer;
            color: $brand-dark-color;
            border-color: $brand-color;
        }
    }
    
    #wc-main-form-wrapper-0_0 {
        margin-bottom: 10px !important;
    }
    
    .wc_comment_level-2, .wc_comment_level-3, .wc_comment_level-4, .wc_comment_level-5 {
        margin-left: 3.25em !important;
    }
    
    .wc-vote-link, .wc-vote-result {
        border: 0 !important;
        
        transition: color 0.15s;
    }
    .wc-vote-link.wc-up {
        padding-left: 0;
    }
    .wc-vote-link:hover {
        color: $neutral-black;
        
        &.wc-up {
            color: #A7D437;
        }
        
        &.wc-down {
            color: #E79D36;
        }
    }
    
    .wc-comment-right {
        margin: 0 !important;
    }
    
    .wc-comment-text {
        font-size: 100% !important;
        
        padding-left: 0 !important;
    
        color: $dark-black-color !important;
        
        a {
            color: $brand-dark-color;//#3774CA;
            text-decoration: none;
        
            transition: color 0.15s;
        
            &:hover {
                text-decoration: underline;
            }
        
            &:visited {
                color: #909;
            }
        }
    }
    
    .wpdiscuz-textarea-wrap textarea {
        display: block !important;
    }

    .wc-comment-header {
        display: flex;
        align-items: center;
        
        height: auto;
        
        margin-bottom: 0;
        
        .avatar {
            display: block;
            
            width: 48px;
            height: 48px;
        }
        
        .wc-comment-link {
            height: auto;
            float: none;
            padding: 0;
            margin: 0;
            
            i {
                border: 0;
                color: $additional-color;
                
                transition: color 0.15s;
                
                &:hover {
                    background: transparent !important;
                    border: 0 !important;
                    color: $neutral-black !important;
                }
            }
        }
        
        /* Пространство между правой и левой частями шапки комментария */
        .space {
            flex: 1;
        }
        
        .wc-comment-author {
            a {
                font-size: 110% !important;
            }
            
            padding: 0;
            padding-left: 0.75em;
        }
    }
    
    .wc-comment-footer {
        padding: 0 !important;
        padding-bottom: 25px !important;
        
        margin-bottom: 25px !important;
        
        border-bottom-color: map_get($border-colors, default);
        
        .wc-reply-button, .wc_editable_comment {
            background: transparent;
            border: 0;
            
            color: $additional-color;
            
            transition: color 0.15s;
            
            &:hover {
                background: transparent !important;
                border: 0 !important;
                
                color: $neutral-black !important;
            }
        }
    }
    
    .wc-reply {
        .avatar {
            display: block;
            
            width: 35px;
            height: 35px;
        }
    }
    
    .wc-reply-button.wc-cta-active, .wc_editable_comment.wc-cta-active {
        background: transparent !important;
        border: 0 !important;
        color: $neutral-black !important;
    }
}