/* ================================================================================================================== */
/* Open Sans */
/* ================================================================================================================== */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=cyrillic,cyrillic-ext,latin-ext');

/* ================================================================================================================== */
/* Иконки */
/* ================================================================================================================== */

@font-face {
    font-family: 'NeuralNetIcons';
    src:  url('fonts/icons/NeuralNetIcons.eot?d1tfy4');
    src:  url('fonts/icons/NeuralNetIcons.eot?d1tfy4#iefix') format('embedded-opentype'),
    url('fonts/icons/NeuralNetIcons.ttf?d1tfy4') format('truetype'),
    url('fonts/icons/NeuralNetIcons.woff?d1tfy4') format('woff'),
    url('fonts/icons/NeuralNetIcons.svg?d1tfy4#NeuralNetIcons') format('svg');
    font-weight: normal;
    font-style: normal;
}

i {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'NeuralNetIcons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

i.arrow_forward:before {
    content: "\e901";
}
i.mode_comment:before {
    content: "\e902";
}
i.thumbs-o-up:before {
    content: "\e900";
}
i.newspaper:before {
    content: "\e904";
}
i.bullhorn:before {
    content: "\e91a";
}
i.book:before {
    content: "\e91f";
}
i.price-tag:before {
    content: "\e935";
}
i.clock:before {
    content: "\e94e";
}
i.bubbles:before {
    content: "\e96c";
}
i.user:before {
    content: "\e971";
}
i.search:before {
    content: "\e986";
}
i.key2:before {
    content: "\e98e";
}
i.cog:before {
    content: "\e994";
}
i.switch:before {
    content: "\e9b6";
}
i.menu:before {
    content: "\e9bd";
}
i.link:before {
    content: "\e9cb";
}
i.heart:before {
    content: "\e9da";
}
i.plus:before {
    content: "\ea0a";
}
i.minus:before {
    content: "\ea0b";
}
i.arrow-up:before {
    content: "\ea32";
}
i.arrow-right:before {
    content: "\ea34";
}
i.arrow-down:before {
    content: "\ea36";
}
i.arrow-left:before {
    content: "\ea38";
}
i.arrow-right2:before {
    content: "\ea3c";
}
i.terminal:before {
    content: "\ea81";
}
i.rouble:before {
    content: "\e903";
}
i.rub:before {
    content: "\e903";
}
i.ruble:before {
    content: "\e903";
}