@import 'const';

aside {
    .widget {
        width: 100%;
        
        box-sizing: border-box;
        
        font-size: 90%;
        background: #F4F8FD;
        
        margin-bottom: $structure-margin;
        padding: 1.5em;
        
        h2, h3 {
            margin: 0;
            color: #646464;
        }
        
        .widget-title {
            font-size: 100%;
            font-weight: 600;
            text-transform: uppercase;
            color: #245987;
        }
        
        .widget-sep {
            height: 1px;
            width: 100%;
            
            margin: 1em 0;
            
            background: map_get($border-colors, widget-sep);
            
            &.strong {
                background: map_get($border-colors, widget-sep-strong);
            }
            
            &.dashed {
                background: repeating-linear-gradient(
                                to right,
                                #E2E5E9,
                                #E2E5E9 5px,
                                #F4F8FD 5px,
                                #F4F8FD 10px
                );
            }
        }
        
        @include layout(sidebar) {
            background: #fff;
        }
    }
    
    .ads {
        overflow: hidden;
    }
    
    /* Виджет "Что нового?" */
    .latest-widget {
        a {
            text-decoration: none;
        }
        
        .latest-news, .latest-article, .latest-chapter {
            display: flex;
            align-items: center;
            
            .icon {
                font-size: 210%;
                color: #646464;
            }
            
            .info {
                margin-left: 15px;
                
                h3 {
                    font-size: 100%;
                    font-weight: normal;
                    color: #333;
                    
                    transition: color 0.15s;
                }
                
                .publish-date {
                    display: flex;
                    align-items: center;
                    
                    margin-top: 3px;
                    
                    font-size: 90%;
                    color: #646464;
                    
                    i {
                        color: $additional-color;
                    }
                    
                    span {
                        margin-left: 5px;
                    }
                }
            }
            
            &:hover {
                h3 {
                    color: $brand-color;
                }
            }
            
            &.empty {
                color: $additional-color;
            }
        }
    }
    
    /* Виджет "Содержание" */
    .toc-widget {
        position:relative;
    
        margin-bottom: 0;
        
        display: flex;
        flex-direction: column;
        
        .toc-item {
            display: flex;
            align-items: center;
            
            padding: 0.75em 0 0.75em 0.5em;
            
            text-decoration: none;
            color: #333;
            
            transition: color 0.15s;
            
            &:first-of-type {
                padding-top: 0;
            }
            &:last-of-type {
                padding-bottom: 0;
            }
            
            &:before {
                position: absolute;
                
                content: '';
                left: 12px;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background: transparent;
                
                transition: background 0.35s;
            }
            
            &._reading:before {
                background: $brand-color;
            }
            
            &:hover, &._reading {
                color: $brand-color;
            }
            
            &.h2 {
                font-size: 110%;
            }
            
            &.h3 {
                margin-left: 1em;
            }
        }
    }
    
    /* Виджет "Вспомогательное меню" */
    .additional-menu-widget {
        display: flex;
        flex-direction: column;
        
        .widget-sep {
            margin: 0;
            
            &.strong {
                margin-top: 1em;
            }
        }
        
        a {
            padding: 0.75em 0;
            
            @include layout(mobile) {
                padding: 1em 0;
            }
            
            text-decoration: none;
            color: #333;
            
            transition: color 0.15s;
            
            &:hover {
                color: $brand-color;
            }
            
            &:last-of-type {
                padding-bottom: 0;
            }
        }
    }

    /* Виджет "Поддержать портал" */
    .donation-button-widget {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 50px;

        padding: 0.4em 0.6em;

        border-radius: 3px;

        box-sizing: border-box;

        text-decoration: none;

        transition: color 0.25s, background 0.25s, border 0.25s;

        color: #fff;
        border: 1px solid $brand-color;
        background: $brand-color;

        i {
            padding-right: 0.75em;
        }

        margin-bottom: $structure-margin;

        &:hover {
            cursor: pointer;
            border-color: $brand-dark-color;
            background: $brand-dark-color;
        }
    }

    /* Группа ВКонтакте */
    #vk_groups {
        margin-bottom: $structure-margin;
    }
}